* {
    margin     : 0;
    padding    : 0;
    font-family: 'Roboto';
    font-size  : 16px;
    line-height: 19px;
    overflow-x : hidden;
}

.container {
    width  : 100%;
    display: flex;
}

.container-right {
    width  : 100%;
    display: inline-block;


}

.container-left {
    height : 500px;
    display: inline-block;
}

header {
    margin-bottom: 30px;
}

img.header__image {
    width       : 310px;
    height      : 122px;
    display     : block;
    margin-left : auto;
    margin-right: auto;
    margin-top  : 20px;
}

.center {

    padding: 0 29px;

}

.banner {
    font-family     : "Roboto";
    text-align      : center;
    font-weight     : 400;
    size            : 16px;
    padding         : 0 200px;
    line-height     : 18.75px;
    background-color: #EFEFEF;
    padding-bottom  : 20px !important;
}

.banner__header {
    padding-top   : 38px;
    padding-bottom: 18px;
}

.body {

    width: 33.333333%;
    width: 470px;



}

.body__content {
    position: relative;
    overflow: hidden;

}

.body__container {
    display: flex;

    flex-direction: row;


}

.body__heading {

    margin-top   : 40px;
    margin-bottom: 18px;
    height       : 28px;
    font-size    : 24px;
    line-height  : 28px;
}

.body__img {
    width : 128px;
    height: 128px;

}

.body_para {
    position    : absolute;
    padding-left: 16px;
    top         : 0;
    right       : -23px;
    width       : 326px;
    height      : 134px;
    font-weight : 400;
    font-size   : 16px;
    line-height : 19px;
}

.clear {
    clear: both;
}

.footer {
    border-top : 1px solid #DEDEDE;
    height     : 79px;
    line-height: 79px;
    margin-top : 180px;
}